<!DOCTYPE html>
<html lang="en">
<head>
  <title>Simple Chat Room</title>
</head>
<body>

  <h1>SocketIO Demo</h1>
  <ul id="messages"></ul>
  <hr>
  

  <h2>'message' event</h2>
  <form id="message_form">
    <input type="text" id="message_form_text">
    <input type="submit" value="Send">
  </form>
  <hr>


  <h2>custom event</h2>
  <label>
    Your Name:
    <input type="text" id="player_name">
  </label>
  <form id="custom_event_form">
    <input type="text" id="custom_event_form_text">
    <input type="submit" value="Send">
  </form>


  <!-- <h2>'json' event</h2>
  <form id="json_event_form">
    <input type="text" id="json_event_form_text">
    <input type="submit" value="Send">
  </form> -->


  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
  <script>

    $(() => {
      
      const socket = io();
      
      // Messages as 'message' events:

      socket.on('connect', () => {
        socket.send('A user has connected!');
      });

      socket.on('message', (msg) => {
        $("#messages").append('<li>'+msg+'</li>');
      });

      $('#message_form').submit((e) => {
        e.preventDefault();
        const msg_input = $('#message_form_text');
        const msg = msg_input.val();
        socket.send(msg);
        msg_input.val('').focus();
      });

      // Messages as custom events:

      $('#custom_event_form').submit((e) => {
        e.preventDefault();
        const msg_input = $('#custom_event_form_text');
        // keys and values
        const player_name = $('#player_name').val();
        const msg = msg_input.val();
        // build object
        const message_object = {
          player_name: player_name,
          msg: msg,
        };
        // send message
        socket.emit('message_with_name', message_object);
        // cleanup
        msg_input.val('').focus();
      });

      socket.on('message_with_name', (message_object) => {
        player_name = message_object.player_name;
        msg = message_object.msg;
        $("#messages").append('<li><b>'+player_name+':</b> '+msg+'<span> '+message_object.mykey+'</span></li>');
      });

      // Messages as json events:

      $('#json_event_form').submit((e) => {
        e.preventDefault();
        const msg_input = $('#json_event_form_text');
        const player_name = $('#player_name').val();
        const msg = msg_input.val();
        // build object
        const message_object = {
          player_name: player_name,
          msg: msg,
        };
        // send json
        socket.emit('json', message_object);
        // cleanup
        msg_input.val('').focus();
      });
      // Lesson learned:
      // Both the socket.send and socket.json.send method convert stuff to text
      // This causes it to be received as a message event my the server.
      // If I want the server to receive a 'json' event, the best way I found to 
      // implement this client-side is to emit a json event, as shown above.
      // Maybe this is the way your *supposed* to do it? But it just seems odd to me.
      // It acts exactly like a custom event named 'json'. The only difference is that
      // flask-socketio has 'json' as a reserved event name. But if you didn't know
      // that, you'd just name something 'json' and not even know. I don't get it...
      // Bottom line is: I won't be using the json event. I can't even imagine using
      // the 'message' event either. 

    });




      // var room_form = $('#room_form').on('submit', function(e) {
      //   e.preventDefault()
      //   let user_name = $('#user_name').val()
      //   let room_name = $('#room_name').val()
      //   socket.emit('join_room_requested', {
      //     user_name : user_name,
      //     message : user_input
      //   })
      //   $('#message_text').val( '' ).focus()        
      // })


    // socket.on('my response', function(msg) {
    //   console.log( msg )
    //   if( typeof msg.user_name !== 'undefined' ) {
    //     $('#message_placeholder').remove()
    //     $('#messages').append( '<li><b style="color: #000">'+msg.user_name+'</b> '+msg.message+'</li>')
    //   }
    // })

    // TODO what are the standard event types?
    // connect
    // message
    // ...?
    // TODO how to automatically deal with JS semicolons?

  </script>

</body>
</html>