<!DOCTYPE html>
<html lang="en">
<head>
  <title>Simple Chat Room</title>
</head>
<body>


  <ul id="messages"></ul>
  <input type="text" id="message_text">
  <button id="message_send">Send</button>


  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
  <script>

    $(() => {
      
      const socket = io();
      
      socket.on('connect', () => {
        socket.send('A user has connected!');
      });

      socket.on('message', (msg) => {
        $("#messages").append('<li>'+msg+'</li>');
      });

      $('#message_send').on('click', () => {
        const msg = $('#message_text').val();
        socket.send(msg);
        $('#message_text').val('');
      });

    });



      // var room_form = $('#room_form').on('submit', function(e) {
      //   e.preventDefault()
      //   let user_name = $('#user_name').val()
      //   let room_name = $('#room_name').val()
      //   socket.emit('join_room_requested', {
      //     user_name : user_name,
      //     message : user_input
      //   })
      //   $('#message_text').val( '' ).focus()        
      // })


    // socket.on('my response', function(msg) {
    //   console.log( msg )
    //   if( typeof msg.user_name !== 'undefined' ) {
    //     $('#message_placeholder').remove()
    //     $('#messages').append( '<li><b style="color: #000">'+msg.user_name+'</b> '+msg.message+'</li>')
    //   }
    // })

    // TODO what are the standard event types?
    // connect
    // message
    // ...?
    // TODO how to automatically deal with JS semicolons?

  </script>

</body>
</html>